{% extends 'base.html.twig' %}
{% block title %}Nouveau menu{% endblock %}
{% block body %}
<div class="container py-4">
  <h1 class="fw-bold mb-3">Nouveau menu</h1>
  {% include 'admin/menu/_form.html.twig' with { form: form } %}
</div>
{% endblock %}
